@font-face {
    font-family: 'GMX Regular';
    src: url('assets/fonts/GMX-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'GMX Regular';
    /* La regla estándar que los navegadores modernos entienden */
    text-size-adjust: 100%; 
    
    /* La regla con prefijo, aunque el navegador se queje de ella */
    -webkit-text-size-adjust: 100%;
}

.directorio {
    color: #b38e5d !important;
    background: #53152b;
    min-height: 30vh;
    font-style: normal;
    font-weight: bold;
}

header {
    /* Define la imagen de fondo */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/img/hero2.jpg') no-repeat center center;
    /* Asegura que la imagen cubra toda la sección */
    background-size: cover;
    /* Le da una altura mínima para que se vea bien */
    min-height: 80vh;
}



.btn_gob {
    background-color: #6a1c32;
    color: #ffffff;
    border-color: #6a1c32;
}

.btn_gob:hover {
    background-color: #53152b;
    color: #ffffff;
    border-color: #53152b;
}

.telefono {
    text-decoration: none;
    color: black;
}

.btn_gob:active {
    background-color: #993233 !important; /* Añade !important aquí */
    color: #ffffff !important;
    border-color: #993233 !important;
}

.btn_gob:focus,
.btn_gob:focus-visible {
    outline: 0;
    /* Establece una sombra que coincida con tu color base. 
       0 0 0 0.25rem es el formato estándar de Bootstrap.
       (98, 17, 50 es el equivalente RGB de tu color #621132)
    */
    box-shadow: 0 0 0 0.25rem rgba(98, 17, 50, 0.5); 
}

/*<h6 class="text-success fw-bold">*/
.gob_txt_success{
    color: #6a1c32;
}

.gob_txt_primary {
    color: #b38e5d;
}

.gob_navbar {
    background-color: #ffff; 
}

.h-contacto {
    background-color: #3c3c3b;
    background-size: cover;
    min-height: 60vh;
    /* Altura mínima de la sección */
    max-height: 60vh;
}

a,
.h-contacto {
    text-decoration: none;
    color: white;
}

.gob_footer { 
    background-color: #3c3c3b;
    color: #b38e5d;
}